@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Matúš Tomčák<br />
    Októbtová 4714/38<br />
    080 01 Prešov<br>
    <abbr title="Phone">Phone:</abbr>
    +421 902 232 385
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:tomcak.matus@gmail.com">tomcak.matus@gmail.com</a><br />
    <strong>Linked In:</strong>   <a href="https://www.linkedin.com/in/mat%C3%BA%C5%A1-tom%C4%8D%C3%A1k-043465b4/" target="_blank">Matus Tomcak</a><br />
</address>